<div class="wrap">
    <p>Are you sure that you want to delete the lightbox "{{ popups.name }}"?</p>

    <form action="{{ current_page_url() }}&action=delete" method="post">
        {{ model_nonce_field(popups, 'delete')|raw }}

        <input type="hidden" name="id" value="{{ popups.id }}" />

        <a href="{{ current_page_url() }}">Cancel</a>
        <input type="submit" name="submit" value="Delete" class="button button-primary" />
    </form>
</div>
