{% import 'macros/admin_optin_form.html' as AdminOptinFormMacro %}
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"/>
<form id="{{ unique_id }}" class="ztl-optin-form clearfix {{ source }}" action="" method="POST">
    {{ AdminOptinFormMacro.hiddenSlug(editing, data) }}
    {{ AdminOptinFormMacro.h1(editing, data) }}

    <form method="post">
        <div class="ztl-optin-form-box">
            {{ AdminOptinFormMacro.name(editing, data) }}
            
            {{ AdminOptinFormMacro.hiddenFields(source, landingPageID) }}

            {{ AdminOptinFormMacro.email(editing, data) }}
            {{ AdminOptinFormMacro.submit(editing, data) }}
        </div>

        {{ AdminOptinFormMacro.image(editing, data) }}
        
        <div style="clear: both;">{# Not sure why a clearfix wasn't working, but this fixes the issue for now. #}</div>
    </form>
    {{ AdminOptinFormMacro.script(optin_form) }}
</form>
